{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="news_tab">
  <div class="news_tab_nav scrollbar-external_wrapper">
    <div class="scrollbar-external">
      <ul class="news_tab_navigation js-news_tab_navigation">
        {% for row in rows %}
          {%
            set row_classes_title = [
              'row_classes_title',
              loop.first ? 'active',
            ]
          %}
          <li{{ row.attributes.addClass(row_classes_title) }}><span>{{ row.content['#node'].title[0].value }}</span></li>
        {% endfor %}
      </ul>
    </div>
    <div class="external-scroll_y">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar"></div>
      </div>
    </div>
  </div>
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
        'news_tab_content',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
