{% if q is not empty %}
{{ q }}
{% endif %}
<div class="search_block border_block">
  <div class="search">
    <div class="form">
      {{ form.s }}
      <input type="submit" value="" />
    </div>
    <div class="set"><i class="fas fa-sliders-h"></i></div>
  </div>
  <div class="filter_block">
    <div class="filter_a">
      <div class="period">
        {{ form.created }}
      </div>
      <div class="type">
        {{ form.c }}
      </div>
    </div>
    {#<div class="filter_b">#}
      {#{{ form.c }}#}
    {#</div>#}
  </div>
  {{ form|without('s', 'c', 'created') }}
</div>
