{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  {{ exposed }}
  {{ attachment_before }}
  <div class="news_cont">
    {{ header }}
    {{ rows }}
  </div>
  {{ empty }}
  {{ pager }}
  {{ attachment_after }}
  {{ more }}
  {{ footer }}
  {{ feed_icons }}
</div>
