<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="right_panel">
    {% if label %}
      <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
    {% endif %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
