<div{{ attributes.addClass('card') }}>
  <figure><img src="{{ base_path ~ directory }}/assets/images/start_campaing.png" alt=""></figure>
  <div class="text">
    <div class="head uppercase">{{ label }}</div>
    {% for item in items %}
      <div{{ item.attributes.addClass('big_text') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>

