<div{{ attributes.addClass('field') }}>
  {% if label_hidden is empty %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  <div class="digram_container js-diagram-holder">
    <div class="digram">
      <canvas id="coin_distribution" class="js-diagram"></canvas>
    </div>
    {% for item in items %}
      <div{{ item.attributes.addClass('element-invisible', 'js-diagram-item') }}>{{ item.content }}</div>
    {% endfor %}
    {{ attach_library('cryptogf/chart') }}
  </div>
</div>
