<div{{ attributes.addClass('field') }}>
  {% if label_hidden is empty %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  <div class="legal_card_container">
    {% for item in items %}
      {% set key = item.content|render %}
      <div{{ item.attributes.addClass('legal_card', 'uppercase') }}>
        {% if key=='coin_growth' %}
          <figure><img src="{{ base_path ~ directory }}/assets/images/g_coins.png" alt=""></figure>
          <div class="text">
            <p class="center"><span>{{ ('Coin growth'|t) }}</span></p>
          </div>
        {% elseif key=='part_of_business_income' %}
          <figure><img src="{{ base_path ~ directory }}/assets/images/procent.png" alt=""></figure>
          <div class="text">
            <p class="pl"><span>{{ ('Part of<br/>business<br/>income'|t) }}</span></p>
          </div>
        {% elseif key=='business_ownership' %}
          <figure><img src="{{ base_path ~ directory }}/assets/images/buisness.png" alt=""></figure>
          <div class="text">
            <p class="pl"><span>{{ ('Business ownership'|t) }}</span></p>
          </div>
        {% elseif key=='revenue_from_the_growth' %}
          <figure><img src="{{ base_path ~ directory }}/assets/images/revenue.png" alt=""></figure>
          <div class="text">
            <p><span style="line-height: 0.9em;">{{ ('Revenue from the growth of the token rate (established by company)'|t) }}</span></p>
          </div>
        {% elseif key=='voting_shares' %}
          <figure><img src="{{ base_path ~ directory }}/assets/images/vote.png" alt=""></figure>
          <div class="text">
            <p class="center"><span>{{ ('Voting shares'|t) }}</span></p>
          </div>
        {% elseif key=='buy_back' %}
          <figure><img src="{{ base_path ~ directory }}/assets/images/guarantee.png" alt=""></figure>
          <div class="text">
            <p class="pl"><span>{{ ('Buy back'|t) }}</span></p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
