<div{{ attributes.addClass('field') }}>
  {% if label_hidden is empty %}
    <h3{{ title_attributes }}>{{ label }}{% if items|length %} ( {{ items|length }} {{ ('items'|t) }} ){% endif %}</h3>
  {% endif %}
  <div class="hr_skroll">
    <ul class="list_block">
      {% for item in items %}
        <li{{ item.attributes }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
