<form{{ attributes.addClass('user-register-form') }}>
  <div class="heading">{{ "Recovery password"|t }}</div>
  <div class="form_row">
    {{ element.name }}
  </div>
  <div class="form_row">
    {{ element.mail }}
  </div>
  {{ element.captcha }}
  {{ element.actions.submit }}
  {{ element.form_id }}
  {{ element.form_build_id }}
</form>
<hr/>
<div class="bottom">
  <a href="{{ url('user.register') }}">{{ 'Not a member yet?'|t }}</a>
</div>
