{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    errors ? 'form-item--error',
  ]
%}
{%
  set description_classes = [
    'description',
    description_display == 'invisible' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}
  <div class="order_block">
    <div class="left_part">
      {% if prefix is not empty %}
        <span class="field-prefix">{{ prefix }}</span>
      {% endif %}
      {{ children }}
      {% if suffix is not empty %}
        <span class="field-suffix">{{ suffix }}</span>
      {% endif %}
      {% if errors %}
        <div class="form-item--error-message">
          {{ errors }}
        </div>
      {% endif %}
    </div>
    <div class="right_part">
      <div{{ description.attributes }}>
        {{ description.content }}
      </div>
    </div>
  </div>
</div>
