<form{{ attributes.addClass('user-register-form') }}>
    <div class="heading">{{ "Register"|t }}</div>
    <div class="form_row">
        {{ element.field_first_name }}
    </div>
    <div class="form_row">
        {{ element.account }}
    </div>
    <div class="form_row">
        <div class="check_box" name="sing">
            {{ element.field_subscribe }}
        </div>
    </div>
    {{ element.captcha }}
    {{ element.actions.submit }}
    {{ element.form_id }}
    {{ element.form_build_id }}
    <div class="bottom">
        <p>By registering I confirm that I have read and agree with <a href="#">Terms</a> and <a href="#">Privacy</a>.</p>
    </div>
</form>
