<form{{ attributes.addClass('user-register-form') }}>
  <div class="heading">{{ ('Login'|t) }}</div>
  <div class="form_row">
    {{ element.name }}
  </div>
  <div class="form_row password">
    {{ element.pass }}
  </div>
  {{ element.captcha }}
  {{ element.actions.submit }}
  {{ element.form_id }}
  {{ element.form_build_id }}
  <hr>
  <p>{{ ('or use'|t) }}</p>
  <a href="#" class="button linkedin"><i class="fab fa-linkedin-in"></i> {{ ('Sign in with LinkedIn'|t) }}</a>
  <a href="#" class="button facebook"><i class="fab fa-facebook-f"></i> {{ ('Sign in with Facebook'|t) }}</a>
  <a href="#" class="button google"><i class="fab fa-google"></i> {{ ('Sign in with Google'|t) }}</a>
</form>
<div class="bottom">
  <a href="{{ url('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
  <a href="{{ url('user.register') }}">{{ 'Not a member yet?'|t }}</a>
</div>
