{#<input{{ attributes.addClass('hidden') }} />#}
{#<button{{ attributes|without('value', 'data-bef-auto-submit-click') }}><i class="fas fa-search"></i> {{ attributes.value }}</button>{{ children }}#}
<button type="button" class="button input_button_holder"><i class="fas fa-search"></i> {{ attributes.value }}<input{{ attributes.addClass('input_button') }}/></button>{{ children }}
