<{{ wrapper_element }} {{ attributes }}>
  <figure><img src="{{ base_path ~ directory }}/assets/images/finans_ico_img.png" alt=""></figure>
  <div class="text">
    {% if title %}
      <div class="head uppercase">{{ title }}</div>
    {% endif %}
    <div class="as_table">
      <div class="field">
        <h3>{{ ('Soft cap'|t) }}:</h3>
        <div>{{ element.field_ri_soft_cap|render|striptags|trim|number_format(0, '', ' ') }} <span class="uppercase">{{ element.field_ri_currency|render|striptags|trim }}</span></div>
      </div>
      <div class="field">
        <h3>{{ ('Hard cap'|t) }}:</h3>
        <div>{{ element.field_ri_hard_cap|render|striptags|trim|number_format(0, '', ' ') }} <span class="uppercase">{{ element.field_ri_currency|render|striptags|trim }}</span></div>
      </div>
    </div>
  </div>
</{{ wrapper_element }}>
