<!-- ===================   Modal  ============================ -->
<div class="modal" id="alarm" style="display: none">
  <a href="#" class="close cross"></a>
  <div class="pic">
    <i class="fas fa-bell"></i>
  </div>
  <p>
    {{ 'We will notify you of the ICO start before 15 minutes.'|t }}
  </p>
  {% if page.crypto_notifications.anonymous is not empty %}
    <p>
      <input name="email" type="email" placeholder="{{ 'E-mail'|t }}">
    </p>
  {% endif %}
  <div class="button close">
    {{ 'Confirm'|t }}
  </div>
</div>
<div class="modal" id="subscribe" style="display: none">
  <a href="#" class="close cross"></a>
  <div class="pic">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </div>
  <p>
    {{ 'We will subscribe you.'|t }}
  </p>
  {% if page.crypto_notifications.anonymous is not empty %}
    <p>
      <input name="email" type="email" placeholder="{{ 'E-mail'|t }}">
    </p>
  {% endif %}
  <div class="button close">
    {{ 'Subscribe'|t }}
  </div>
</div>
<!-- ======================================================== -->
