<div{{ attributes.addClass('balance') }}>
  {% if user.uid.0.value==session_uid %}
    <h4>{{ ('Balance'|t) }}:</h4>
    <div class="coin">
      0 <span>{{ ('coin'|t) }}</span>
    </div>
    <a href="#" class="button">{{ ('Actions with balance'|t) }}</a>
    <hr>
  {% endif %}
  {% if content %}
    <div class="info_block">
      <div class="balance_fields">
        {{- content|without('field_user_linkedin', 'field_user_twitter', 'field_user_facebook', 'field_freelancer') -}}
      </div>
    </div>
  {% endif %}
  {% if user.uid.0.value==session_uid %}
    <div class="checkbox_container">
      <div class="checkbox{% if content.field_freelancer[0]['#markup']=='Yes' %} checkbox__checked{% endif %}">
        <span>{{ ('Available for freelance'|t) }}</span>
        <a href="#">{{ ('My type works'|t) }}</a>
      </div>
      <div class="checkbox">
        <input type="checkbox">
        <span>{{ ('Available for expertize'|t) }}</span>
      </div>
    </div>
  {% endif %}
  {% if content.field_user_linkedin|render|striptags|trim or content.field_user_facebook|render|striptags|trim or content.field_user_twitter|render|striptags|trim %}
    <hr>
    <div class="soc">
      {{ content.field_user_linkedin }}
      {{ content.field_user_facebook }}
      {{ content.field_user_twitter }}
    </div>
  {% endif %}
</div>
