{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{{ attach_library('cryptogf/down-count') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  {{ exposed }}
  {{ attachment_before }}
  {{ header }}
  <div class="table">
    {{ rows }}
    {{ empty }}
    <div class="pager_holder">
      {{ pager }}
    </div>
  </div>
  {{ attachment_after }}
  {{ more }}
  {{ footer }}
  {{ feed_icons }}
</div>
