{% if q is not empty %}
{{ q }}
{% endif %}
<div class="filter">
  {% if form.s %}
    <div class="cell cell--search_holder">
      {{ form.s }}
    </div>
  {% endif %}
  {% if form.c %}
    <div class="cell">
      {{ form.c }}
    </div>
  {% endif %}
  {% if form.kyc or form.w %}
    <div class="checkbox_cell">
      <div class="label"></div>
      {% if form.w %}
        <div class="check_box">{{ form.w }}</div>
      {% endif %}
      {% if form.kyc %}
        <div class="check_box">{{ form.kyc }}</div>
      {% endif %}
    </div>
  {% endif %}
  {% if form.start_date or form.end_date %}
    <div class="data_check">
      {% if form.start_date %}
        <div class="cell">
          {{ form.start_date }}
        </div>
        <div class="line"></div>
      {% endif %}
      {% if form.end_date %}
        <div class="cell">
          {{ form.end_date }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if form.rating %}
    <div class="cell rating_select">
      {{ form.rating }}
    </div>
  {% endif %}
</div>
{{ form|without('s', 'c', 'w', 'kyc', 'start_date', 'end_date', 'rating', 'now_start', 'now_end', 'upcoming') }}
{% if form.now_start or form.now_end or form.upcoming %}
  <div class="new_past_nav">
    <div class="js-tab-ico-action boocmarck active" data-tab="js-tab-ico">
      {{ ('new'|t) }}
      <div class="checkbox_container">
        {{ form.now_start }}
        {{ form.now_end }}
        {{ form.upcoming }}
      </div>
    </div>
    <div class="js-tab-ico-action boocmarck" data-tab="js-tab-ico-past">{{ ('past'|t) }}</div>
  </div>
{% endif %}
