<div{{ attributes.addClass('js-comment', 'chat_card') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  {% if parent %}
    <p class="visually-hidden">{{ parent }}</p>
  {% endif %}
  <div class="avatar">
    {% if user_picture %}
      <div class="photo">
        {{ user_picture }}
      </div>
    {% endif %}
    {% if author %}
      <div class="name">{{ author }}</div>
    {% endif %}
  </div>
  {% if content.comment_body %}
    <p{{ content_attributes }}>{{ content.comment_body }}</p>
  {% endif %}
  <div class="bottom">
    {% if created %}
      <div class="date">{{ created }}</div>
    {% endif %}
    {{ content.links }}
  </div>
</div>
