{#{% if content.group_project.group_project_readiness|render|striptags|trim or content.group_project.group_project_idea|render|striptags|trim %}#}
<article{{ attributes.addClass('border_block') }}>
  <div{{ content_attributes }}>
    {{ title_prefix }}
    <h2 class="tal uppercase">{{ label }}</h2>
    {{ title_suffix }}
    <img src="/themes/custom/cryptogf/assets/images/grafick.png" alt="" style="margin-bottom: 20px;">
    {{ content.group_project.group_project_idea.field_full_project_description }}
    {{ content.field_exchange }}
    <hr/>
    {{ content.field_coin_comments }}
  </div>
</article>
