<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes.addClass('border_block', 'main', 'center') }}>
    {% if content.field_logo|render %}
      <div class="logo">{{ content.field_logo }}</div>
    {% endif %}
    <h1 class="page_title">{{ label }}</h1>
    {% if content.field_description|render %}
      <div class="description_holder">
        {{ content.field_description }}
      </div>
    {% endif %}
    {% if content.field_whitepaper|render %}
      <a href="{{ content.field_whitepaper|render|striptags|trim }}" class="doc"><span>{{ 'Whitepaper'|t }}</span> <i class="fas fa-file-pdf"></i></a>
    {% elseif content.field_whitepaper_link|render %}
      <a href="{{ content.field_whitepaper_link|render|striptags|trim }}" class="doc" rel="external"><span>{{ 'Whitepaper'|t }}</span> <i class="fas fa-file-pdf"></i></a>
    {% endif %}
    {% if content.field_ico_start_date|render or content.field_ico_end_date|render %}
      <div class="date">{{ content.field_ico_start_date|render|striptags|trim }}{% if content.field_ico_start_date|render|striptags|trim and content.field_ico_end_date|render %} - {% endif %}{{ content.field_ico_end_date|render|striptags|trim }}</div>
    {% endif %}
    {% if content.field_website|render %}
      <a href="{{ content.field_website|render|striptags|trim }}" class="site">{{ 'Website'|t }} <i class="fas fa-globe"></i></a>
    {% endif %}
  </div>
  {{ content.field_category }}
  {#{{ kpr(content.group_project|keys) }}#}
  {% if content.group_project.group_project_readiness|render|striptags|trim or content.group_project.group_project_idea|render|striptags|trim %}
    {{ content.group_project }}
  {% endif %}
  {{ content.group_roadmap }}
  {% if content.field_target_audience|render %}
    <h2>{{ 'Community'|t }}</h2>
    {{ content.field_target_audience }}
  {% endif %}
  {% if content.field_facebook|render or content.field_twitter|render or content.field_reddit|render or content.field_slack|render or content.field_bitcointalk|render or content.field_telegram|render or content.field_youtube|render or content.field_medium|render %}
    <h3>{{ 'Social'|t }}</h3>
    <ul class="socnet">
      {% if content.field_facebook|render %}
        <li><a href="{{ content.field_facebook|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/fb_i.png" alt="">Facebook</a></li>
      {% endif %}
      {% if content.field_twitter|render %}
        <li><a href="{{ content.field_twitter|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/twitter_i.png" alt="">Twitter</a></li>
      {% endif %}
      {% if content.field_reddit|render %}
        <li><a href="{{ content.field_reddit|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/reddit_i.png" alt="">Reddit</a></li>
      {% endif %}
      {% if content.field_slack|render %}
        <li><a href="{{ content.field_slack|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/slack_i.png" alt="">Slack</a></li>
      {% endif %}
      {% if content.field_bitcointalk|render %}
        <li><a href="{{ content.field_bitcointalk|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/btc_i.png" alt="">Bitcointalk</a></li>
      {% endif %}
      {% if content.field_telegram|render %}
        <li><a href="{{ content.field_telegram|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/telegram_i.png" alt="">Telegram</a></li>
      {% endif %}
      {% if content.field_youtube|render %}
        <li><a href="{{ content.field_youtube|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/yt_i.png" alt="">YouTube</a></li>
      {% endif %}
      {% if content.field_medium|render %}
        <li><a href="{{ content.field_medium|render|striptags|trim }}"><img src="{{ base_path ~ directory }}/assets/images/slack_i.png" alt="">Medium</a></li>
      {% endif %}
      {% if content.field_facebook|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_twitter|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_reddit|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_slack|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_bitcointalk|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_telegram|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_youtube|render is empty %}
        <li class="empty"></li>
      {% endif %}
      {% if content.field_medium|render is empty %}
        <li class="empty"></li>
      {% endif %}
      <li class="empty"></li>
      <li class="empty"></li>
    </ul>
  {% endif %}
  {% if content.group_people_holder.group_people|render|striptags|trim %}
    {{ content.group_people_holder }}
  {% endif %}
  {% if content.group_legal.group_incorporation|render|striptags|trim or content.group_legal.group_legal_opinion|render|striptags|trim or content.group_legal.group_download_links|render|striptags|trim or content.group_legal.field_kyc|render|striptags|trim or content.group_legal.field_reason_to_invest|render|striptags|trim or content.group_legal.field_assed_back_text|render|striptags|trim or content.group_legal.field_utility_token_text|render|striptags|trim %}
    {{ content.group_legal }}
  {% endif %}
  {{ content.group_finances }}
  {% if content.group_crowdsale.group_crowdsale_block.group_crowdsale_table.group_ul_1.group_ul_1_li_1|render|striptags|trim or content.group_crowdsale.group_crowdsale_block.group_crowdsale_table.group_ul_1.group_ul_1_li_2|render|striptags|trim or content.group_crowdsale.group_crowdsale_block.group_crowdsale_table.group_ul_1.group_ul_1_li_3|render|striptags|trim or content.group_crowdsale.group_crowdsale_block.group_crowdsale_table.group_ul_1.group_ul_1_li_4|render|striptags|trim or content.group_crowdsale.group_crowdsale_block.group_crowdsale_table.group_ul_1.group_ul_1_li_5|render|striptags|trim or content.group_crowdsale.group_crowdsale_block.group_crowdsale_table.group_ul_2.group_ul_2_li_1|render|striptags|trim %}
    {{ content.group_crowdsale }}
  {% endif %}
  {{ content.group_bounty }}
  {{ content.group_coin_info }}
</article>
