{% if page.sidebar_first %}
  {{ attach_library('cryptogf/sticky') }}
{% endif %}
<div id="wrapper">
  <div id="layout" class="layout">
    {% include directory ~ '/templates/misc/icons.html.twig' %}
    {% if page.header %}
      <header role="banner">
        <div class="limit">
          {{ page.header }}
          {{ page.header_right }}
        </div>
      </header>
    {% endif %}
    {{ page.navbar }}
    {% if cryptogf_slogan and is_front %}
      <div class="limit">
        <h1 class="slogan">{{ cryptogf_slogan|striptags('<br><strong><span><a>')|raw }}</h1>
      </div>
    {% endif %}
    {% if page.highlighted or page.help %}
      <div class="limit">
        {{ page.highlighted }}
        {{ page.help }}
      </div>
    {% endif %}
    {% if is_front %}
      <main role="main">
        <a id="main-content" tabindex="-1"></a>
        <div class="layout-content">
          {{ page.content }}
        </div>
      </main>
    {% else %}
      <div class="content_block">
        <div class="limit">
          <div class="content">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </div>
          {% if page.sidebar_first %}
            <div class="sidebar" role="complementary">
              {{ page.sidebar_first }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if page.fixed_menu %}
      <div id="fixed_menu" role="complementary">
        {{ page.fixed_menu }}
      </div>
    {% endif %}
    {% if is_front or node.type.0.target_id=='token' %}
      {% include directory ~ '/templates/misc/modal.html.twig' %}
    {% endif %}
  </div>
  {% if page.footer_callouts or page.footer %}
    <footer id="footer" role="contentinfo">
      {{ page.footer_callouts }}
      {% include directory ~ '/templates/misc/subscribe.html.twig' %}
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
