<div id="wrapper">
  <div id="layout" class="layout">
    {% include directory ~ '/templates/misc/icons.html.twig' %}
    {% if page.header %}
      <header role="banner">
        <div class="limit">
          {{ page.header }}
          {{ page.header_right }}
        </div>
      </header>
    {% endif %}
    {{ page.navbar }}
    {% if cryptogf_slogan %}
      <div class="limit">
        <h1 class="slogan">{{ cryptogf_slogan|striptags('<br><strong><span><a>')|raw }}</h1>
      </div>
    {% endif %}
    {% if page.highlighted or page.help %}
      <div class="limit">
        {{ page.highlighted }}
        {{ page.help }}
      </div>
    {% endif %}
    <main role="main">
      <a id="main-content" tabindex="-1"></a>
      <div class="layout-content">
        <div class="limit">
          <div class="no-results">
            {{ page.content }}
          </div>
        </div>
      </div>
    </main>
  </div>
  {% if page.footer_callouts or page.footer %}
    <footer id="footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
