<div id="wrapper">
  <div id="layout" class="layout">
    {% include directory ~ '/templates/misc/icons.html.twig' %}
    {% if page.header %}
      <header role="banner">
        <div class="limit">
          {{ page.header }}
          {{ page.header_right }}
        </div>
      </header>
    {% endif %}
    {{ page.navbar }}
    {% if page.highlighted or page.help %}
      <div class="limit">
        {{ page.highlighted }}
        {{ page.help }}
      </div>
    {% endif %}
    <div class="content_block">
      <div class="limit">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </div>
    </div>
    {% if page.fixed_menu %}
      <div id="fixed_menu" role="complementary">
        {{ page.fixed_menu }}
      </div>
    {% endif %}
  </div>
  {% if page.footer %}
    <footer id="footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
