{{ attach_library('cryptogf/sticky') }}
{{ attach_library('cryptogf/morris') }}
<div id="wrapper">
  <div id="layout" class="layout">
    {% include directory ~ '/templates/misc/icons.html.twig' %}
    {% if page.header %}
      <header role="banner">
        <div class="limit">
          {{ page.header }}
          {{ page.header_right }}
        </div>
      </header>
    {% endif %}
    {{ page.navbar }}
    {% if page.highlighted or page.help %}
      <div class="limit">
        {{ page.highlighted }}
        {{ page.help }}
      </div>
    {% endif %}
    {% if node %}
      <div class="content_block">
        {{ page.adv_content_top }}
        <div class="limit">
          <div class="content">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </div>
          <div class="sidebar">
            <div class="sidebar_content js-sticky">
              <div class="border_block">
                {% include directory ~ '/templates/misc/translate.html.twig' %}
                <div class="user_card">
                  <div class="avatar">
                    <img src="images/avatar1.png" alt="">
                  </div>
                  <div class="status">Owner</div>
                  <div class="date">21 Aug 2018, 02:29</div>
                  <a href="#" class="name">Cristiano Ronaldo</a>
                  <div class="rating"><span>3.1</span>NEW</div>
                  <div class="country">
                    <span class="flag"><img src="images/ru.png" alt=""></span>
                    USA
                  </div>
                </div>
                <div class="user_card">
                  <div class="avatar">
                    <img src="images/avatar2.png" alt="">
                  </div>
                  <div class="status">Transator</div>
                  <div class="date">21 Aug 2018, 02:29</div>
                  <a href="#" class="name">Jogn</a>
                  <div class="rating"><span>4.1</span>NEW</div>
                  <div class="country">
                    <span class="flag"><img src="images/by.png" alt=""></span>
                    USA
                  </div>
                </div>
                <div class="stars">
                  <div class="star" data-index="4"></div>
                  <span>0 reviews</span>
                </div>
                <div class="statistic">
                  <table>
                    <tr>
                      <td>Total views</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Unique users</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Now online</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Languages</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Views chart</td>
                      <td>0</td>
                    </tr>
                  </table>
                  <div id="graph" class="js-morris" style="height: 200px;"></div>
                </div>
                <div class="bottom">{{ ('last editing date'|t) }}: {{ node.changed.0.value|date('d.m.Y') }}</div>
              </div>
              {{ page.sidebar_first }}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="news">
        <div class="limit">
          <a id="main-content" tabindex="-1"></a>
          {% if page['#title'] %}
            <h2>{{ page['#title'] }} <i class="fas fa-filter filter_button"></i></h2>
          {% endif %}
          {{ page.content }}
        </div>
      </div>
    {% endif %}
    {% if page.fixed_menu %}
      <div id="fixed_menu" role="complementary">
        {{ page.fixed_menu }}
      </div>
    {% endif %}
  </div>
  {% if page.footer_callouts or page.footer %}
    <footer id="footer" role="contentinfo">
      {{ page.footer_callouts }}
      {% include directory ~ '/templates/misc/subscribe.html.twig' %}
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
